Repository Just1Dav/feature_flag_manager: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, backend-eslint, frontend-eslint

prettier:
  run: npx prettier --write {staged_files} && git add {staged_files}

backend-eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

frontend-eslint:
  run: npx eslint --fix {staged_files} && git add {staged_files}

chore(backend): add nestjs and fix lint/prettier problems
  backend/README.md
  backend/eslint.config.mjs
  backend/nest-cli.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  package-lock.json
Due: prettier, backend-eslint

chore(root): add docker compose with postgres configuration and new scripts
  docker-compose.yml
  package.json
Due: prettier

feat(backend): add prisma ORM and database structure
  .gitignore
  .prettierignore
  .prettierrc
  backend/eslint.config.mjs
  backend/package.json
  backend/prisma.config.ts
  backend/prisma/migrations/20251207204859_init/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/tsconfig.json
  package-lock.json
Due: prettier

feat(backend): add prisma module
  backend/package.json
  backend/src/app.module.ts
  backend/src/prisma/prisma.module.ts
  backend/src/prisma/prisma.service.ts
Due: prettier, backend-eslint

feat(backend): add create and register user methods
  backend/eslint.config.mjs
  backend/package.json
  backend/prisma.config.mts
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/users/dto/create-user.dto.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.ts
  backend/tsconfig.json
  package-lock.json
Due: prettier, backend-eslint

refactor(backend): refactor prisma module to database module and change ids to autoincrement
  backend/.env.example
  backend/package.json
  backend/prisma/migrations/20251209002954_turn_ids_to_autoincrement/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/auth/auth.service.ts
  backend/src/database/database.module.ts
  backend/src/database/prisma.service.ts
  backend/src/users/users.service.ts
  package-lock.json
Due: prettier, backend-eslint

feat(backend): add jwt, improve separation of responsibilities and refactor routes name
  backend/.env.example
  backend/package.json
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/signin.dto.ts
  backend/src/auth/dto/signup.dto.ts
  backend/src/users/entities/user.entity.ts
  package-lock.json
Due: prettier, backend-eslint

feat(backend): add nest guard to protect endpoints by requiring a valid jwt in the request
  backend/src/auth/auth.guard.ts
Due: prettier, backend-eslint

feat(backend): add projects CRUD and other changes
  backend/eslint.config.mjs
  backend/src/app.module.ts
  backend/src/auth/auth.guard.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/decorators/current-user.decorator.ts
  backend/src/projects/dto/create-project.dto.ts
  backend/src/projects/dto/update-project.dto.ts
  backend/src/projects/entities/project.entity.ts
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.module.ts
  backend/src/projects/projects.service.ts
  backend/src/users/users.service.ts
Due: prettier, backend-eslint

feat(backend): add environments CRUD, add validation pipe, improve projects module
  backend/src/app.module.ts
  backend/src/auth/dto/signin.dto.ts
  backend/src/auth/dto/signup.dto.ts
  backend/src/environments/dto/create-environment.dto.ts
  backend/src/environments/dto/update-environment.dto.ts
  backend/src/environments/entities/environment.entity.ts
  backend/src/environments/environments.controller.ts
  backend/src/environments/environments.module.ts
  backend/src/environments/environments.service.ts
  backend/src/main.ts
  backend/src/projects/dto/create-project.dto.ts
  backend/src/projects/projects.controller.ts
  backend/src/projects/projects.service.ts
  backend/src/users/dto/create-user.dto.ts
Due: prettier, backend-eslint

feat(backend): add feature flags CRUD, improve environment code
  backend/src/app.module.ts
  backend/src/environments/environments.controller.ts
  backend/src/environments/environments.service.ts
  backend/src/feature-flags/dto/create-feature-flag.dto.ts
  backend/src/feature-flags/dto/find-by-project.dto.ts
  backend/src/feature-flags/dto/update-feature-flag.dto.ts
  backend/src/feature-flags/entities/feature-flag.entity.ts
  backend/src/feature-flags/feature-flags.controller.ts
  backend/src/feature-flags/feature-flags.module.ts
  backend/src/feature-flags/feature-flags.service.ts
Due: prettier, backend-eslint

fix(backend): fix findFeatureFlagsByProject controller
  backend/src/environments/entities/environment.entity.ts
  backend/src/environments/environments.controller.ts
  backend/src/environments/environments.service.ts
  backend/src/feature-flags/dto/find-by-project.dto.ts
  backend/src/feature-flags/entities/feature-flag.entity.ts
  backend/src/feature-flags/feature-flags.controller.ts
  backend/src/feature-flags/feature-flags.service.ts
  backend/src/main.ts
Due: prettier, backend-eslint

feat(frontend): add projects CRUD and improve code quality
  frontend/package.json
  frontend/src/components/react/ConfirmDialog.tsx
  frontend/src/components/react/EmptyState.tsx
  frontend/src/components/react/Header.tsx
  frontend/src/components/react/ItemSkeleton.tsx
  frontend/src/components/react/auth/AuthForm/LoginForm.tsx
  frontend/src/components/react/auth/AuthForm/RegisterForm.tsx
  frontend/src/components/react/auth/AuthForm/index.tsx
  frontend/src/components/react/projects/CreateProjectDialog.tsx
  frontend/src/components/react/projects/EditProjectDialog.tsx
  frontend/src/components/react/projects/ProjectItem.tsx
  frontend/src/components/react/projects/ProjectList.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/components/ui/spinner.tsx
  frontend/src/layouts/main.astro
  frontend/src/pages/api/[...path].ts
  frontend/src/pages/auth.astro
  frontend/src/pages/dashboard.astro
  frontend/src/pages/index.astro
  frontend/src/stores/projectsStore.ts
  frontend/src/styles/global.css
  lefthook.yml
  package-lock.json
Due: prettier, frontend-eslint

feat(frontend): add frontend CRUD, improve code quality and fix bugs
  backend/src/feature-flags/feature-flags.service.ts
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/astro/PageHeader.astro
  frontend/src/components/react/ConfirmActionDialog/index.tsx
  frontend/src/components/react/ConfirmActionDialog/types.ts
  frontend/src/components/react/EmptyState/index.tsx
  frontend/src/components/react/EmptyState/types.ts
  frontend/src/components/react/ItemSkeleton.tsx
  frontend/src/components/react/Skeletons.tsx
  frontend/src/components/react/environments/EnvironmentList.tsx
  frontend/src/components/react/flags/FlagItem.tsx
  frontend/src/components/react/flags/FlagList.tsx
  frontend/src/components/react/projects/CreateProjectDialog.tsx
  frontend/src/components/react/projects/EditProjectDialog.tsx
  frontend/src/components/react/projects/ProjectItem.tsx
  frontend/src/components/react/projects/ProjectList.tsx
  frontend/src/components/react/projects/ProjectTabs.tsx
  frontend/src/components/react/resources/CreateResourceDialog/index.tsx
  frontend/src/components/react/resources/CreateResourceDialog/types.ts
  frontend/src/components/react/resources/ResourceItem/index.tsx
  frontend/src/components/react/resources/ResourceItem/types.ts
  frontend/src/components/react/resources/UpdateResourceDialog/index.tsx
  frontend/src/components/react/resources/UpdateResourceDialog/types.ts
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/lib/api-server.ts
  frontend/src/middleware.ts
  frontend/src/pages/api/[...path].ts
  frontend/src/pages/dashboard/index.astro
  frontend/src/pages/dashboard/projects/[projectId]/environments/[environmentId].astro
  frontend/src/pages/dashboard/projects/[projectId]/index.astro
  frontend/src/stores/environmentsStore.ts
  frontend/src/stores/flagsStore.ts
  frontend/src/stores/projectsStore.ts
  package-lock.json
Due: prettier, backend-eslint, frontend-eslint

chore(root): add final docker configurations
  backend/.dockerignore
  backend/Dockerfile.backend
  backend/src/main.ts
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile.frontend
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/ui/input-group.tsx
  frontend/src/pages/dashboard/projects/[projectId]/environments/[environmentId].astro
  lefthook.yml
  package-lock.json
  package.json
Due: prettier, backend-eslint, frontend-eslint

chore(frontend): add ui folder into eslint ignore
  frontend/eslint.config.js
Due: prettier

test(backend): add unit and e2e tests to backend
  backend/eslint.config.mjs
  backend/package.json
  backend/src/auth/auth.controller.spec.ts
  backend/src/auth/auth.service.spec.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  docker-compose.yml
  package-lock.json
Due: prettier, backend-eslint

style(root): remove comments
  docker-compose.yml
Due: none

docs(root): add updated readme
  README.md
Due: prettier

fix(root): fix prisma migration in docker
  README.md
  backend/Dockerfile.backend
  docker-compose.yml
Due: prettier

fix(backend): fixing prisma with docker
  backend/Dockerfile.backend
  backend/package.json
Due: prettier

fix(root): fix prisma generate in docker
  backend/Dockerfile.backend
  backend/package.json
  package.json
Due: prettier

fix(backend): fix prisma generate
  package.json
Due: prettier

fix(backend): fix prisma generate
  backend/Dockerfile.backend
Due: none

fix(backend): remove generate bug
  backend/Dockerfile.backend
  package.json
Due: prettier

fix(backend): remove generate bug
  package.json
Due: prettier

fix(backend): remove generate bug
  README.md
  package.json
Due: prettier

chore(root): add changes to readme
  README.md
Due: prettier

docs(root): commit .env to facilitate runnning the test and update the readme file
  .env.backend
  .gitignore
  README.md
  backend/.env
  backend/.env.test
  frontend/.env
Due: prettier

refactor(frontend): remove fetch success messages
  frontend/src/components/react/environments/EnvironmentList.tsx
  frontend/src/components/react/flags/FlagList.tsx
  frontend/src/components/react/projects/ProjectList.tsx
Due: prettier, frontend-eslint

docs(backend): add swagger config for api documentation
  README.md
  backend/nest-cli.json
  backend/package.json
  backend/src/auth/dto/signin.dto.ts
  backend/src/auth/dto/signup.dto.ts
  backend/src/environments/dto/create-environment.dto.ts
  backend/src/environments/dto/update-environment.dto.ts
  backend/src/environments/entities/environment.entity.ts
  backend/src/environments/environments.controller.ts
  backend/src/feature-flags/dto/create-feature-flag.dto.ts
  backend/src/feature-flags/dto/find-by-project.dto.ts
  backend/src/feature-flags/dto/update-feature-flag.dto.ts
  backend/src/feature-flags/entities/feature-flag.entity.ts
  backend/src/main.ts
  backend/src/projects/dto/create-project.dto.ts
  backend/src/projects/dto/update-project.dto.ts
  backend/src/projects/entities/project.entity.ts
  backend/src/projects/projects.controller.ts
  backend/src/users/entities/user.entity.ts
  package-lock.json
Due: prettier, backend-eslint

docs(root): add insomnia collection
  .prettierignore
  insomnia_collection.json
Due: prettier

docs(root): add insomnia collection to readme
  README.md
Due: prettier

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,json,css,md,astro}
  backend-eslint: any of: backend/**/*.ts and ^backend/
  frontend-eslint: any of: frontend/**/*.{js,ts,jsx,tsx,astro} and ^frontend/
